{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Machine Learning
{% endblock title %}


{% block content %}
    <p> This is machine learning data page </p>

    <div style="margin-top: 30px;">
    </div>
    
    {% if messages %}
    <ul class="messages" style="list-style:none; padding:0; text-align:center;">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock content %}
    
