<h2 class="ml_title">Train Decision Tree Classifier</h2>
<form class = "in_line_form" method="post" action="{% url 'ml' %}" >
    {% csrf_token %}
    {{ dtc_form.as_p }}
<div style="display: flex; gap: 0px; justify-content: center; margin-top: 10px;">
    <button name="dtc" type="submit" style="margin-right: 4px; padding: 8px 12px;">Train</button>
    <button name="export_dtc" type="submit" style="padding: 8px 12px;">Export Model</button>
</div>
</form>
{% if dtc_metrics %}
<div style="margin-top:20px; border:1px solid #ccc; padding:15px;">
    <h3 style="text-align: center;">Training Metrics</h3>
    <div style="text-align: center;">
        <span><strong>Accuracy:</strong> {{ dtc_metrics.accuracy|floatformat:2 }}</span> |
        <span><strong>Precision:</strong> {{ dtc_metrics.precision|floatformat:2 }}</span> |
        <span><strong>Recall:</strong> {{ dtc_metrics.recall|floatformat:2 }}</span> |
        <span><strong>F1 Score:</strong> {{ dtc_metrics.f1_score|floatformat:2 }}</span>
    </div>
    <p><strong>Confusion Matrix:</strong></p>
    <div style="text-align: center;" >
    <table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th></th>
            <th>Predicted 0</th>
            <th>Predicted 1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Actual 0</th>
            {% for val in dtc_metrics.confusion_matrix.0 %}
                <td style="text-align:center;">{{ val }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Actual 1</th>
            {% for val in dtc_metrics.confusion_matrix.1 %}
                <td style="text-align:center;">{{ val }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
</div>
</div>
{% endif %}