* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-size: 3rem;
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
}

main {
    justify-self: start;
    padding: 20px;
    margin-top: 60px;
}

h1,
p {
    text-align: center;
}

a {
    color: red;
}

div {
    font-size: 1.5rem;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;  
    gap: 1rem;   
}

nav form {
    display: inline-block;
    margin: 0;            
    padding: 0;   
}

nav .nav-button {
    background-color: transparent;
    font-size: 3rem;
    color : red;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.validated_form {
    text-align: center;
}

.errorlist li::marker{
    content: "!";
}

.messages li {
    color: rgb(211, 88, 0);
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.data_container {
    text-align: left;
    margin-left: 0 !important;
    justify-self: start;
    width: 100%;
}

table {
    width: 80%;
    margin-left: 20px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    font-weight: bold;
}

.in_line_form p {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 15px;
}

.centered_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px;
}

form {
    margin: 0 auto;
    width: fit-content;
}

.ml_title {
    text-align: center;
    color: darkgreen
}